#destaques {
    width: 780px;
    height: 312px;
    margin: 10px 0 0 153px;
    border-radius: 16px;
    background-color: $cor-background;
    color: $cor-texto-primario;
    text-transform: capitalize;

    #destaques-alinhamento {
        display: flex;
        justify-content: space-evenly;
    }

    .destaques-cards {
        width: 238px;
        height: 236px;
        border-radius: 16px;
        margin-top: 10px;
        border: 1px solid $cor-texto-primario;
    }

    h2 {
        width: 96px;
        height: 30px;
        font-weight: 600;
        font-size: 1.25em;
        line-height: 30px;
        opacity: 90%;
        padding: 15px 0 0 25px;
    }

    h5,
    p {
        width: 206px;
        height: 20px;

    }

    h5 {
        margin: 10px 0 0 15px;
        font-size: 0.75em;
        font-weight: 400;
        line-height: 20px;
        opacity: 60%;
    }

    p {
        font-size: 0.875em;
        margin-left: 15px;
        opacity: 90%;
    }

    span {
        text-transform: lowercase;
    }

    .img-publicacao {
        width: 236px;
        height: 152px;
    }

    .img-reacoes {
        width: 32px;
        height: 16px;
        margin: 4px 0 0 4px;
    }

    .reacoes-alinhamento, .comentarios-alinhamento {
        width: 21px;
        font-size: 0.75em;
        line-height: 20px;
        margin: -21px 0 0 26px;
    }

    .comentarios-alinhamento {
        margin-left: 145px;
    }

}