#formacao {
    width: 780px;
    height: 127px;
    margin: 10px 0 0 153px;
    border-radius: 16px;
    background-color: $cor-background;

    #formacao-texto {
        transform: translateY(-55px);
        margin-left: 85px;
    }

    img {
        width: 48px;
        height: 48px;
        width: 48px;
        height: 48px;
        margin: 5px 0 0 25px;
    }

    h4 {
        font-size: 1em;
        font-weight: 600;
        line-height: 20px;
        text-transform: capitalize;
    }
    
    h5, p {
        font-size: 0.875em;
        font-weight: 400;
        line-height: 20px;
        text-transform: capitalize;
        opacity: 60%;
    }

    

}