header {
    width: 1400px;
    height: 52px;
    border: 1px white solid;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;

    }

    a {
        text-decoration: none;
    }
}