header {
    width: 100vw;
    height: 52px;
    background-color: $cor-background;

    img {
        width: 34px;
        height: 34px;
        margin-top: 9px;
        margin-left: 153px;
    }

    .material-symbols-outlined {
        font-size: 1.5em;
        float: left;
        position: relative;
        margin: 6px 0 0 6px;
    }

    #pesquisa {
        width: 280px;
        height: 34px;
        margin: -38px 0 0 195px;
        border-radius: 10px;
        opacity: 90%;
    }

    #txtPesquisa {
        padding-left: 40px;
        font-size: 0.875em;
        line-height: 30px;
        color: $cor-texto-primario;
        border: none;
    }

    input {
        border-radius: 4px;
        background-color: $cor-input;
        width: 280px;
        height: 34px;
        position: absolute;
    }

    input::placeholder {
        color: $cor-texto-primario;
        opacity: 90%;
    }

}

nav {
    width: 400px;
    height: 38px;
    margin: -40px 0 0 574px;
    
    
    ul {
        display: flex;
        justify-content: center;
        border-right: 1px solid $cor-texto-primario;
        padding-right: 20px;
    }

    .li-ajuste {
        font-size: 0.875em;
        padding: 0 13px;
        list-style: none;
    }

    a {
        color: $cor-texto-primario;
        text-decoration: none;
        font-size: 1em;
    }

    p {
        color: $cor-texto-primario;
        width: 80px;
        line-height: 14.06px;
        font-size: 0.75em;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        display: inline-block;
        text-transform: capitalize;
        margin-left: -22px;
        cursor: pointer;

    }
    .solucoes-ajuste {
        width: 100px;
        height: 38px;
        display: flex;
        flex-direction: column;
        margin:  -44px 0 0 430px ;
    }

}