#sobre {
    width: 780px;
    height: 134px;
    border-radius: 16px;
    background-color: $cor-background;
    margin: 10px 0 0 153px;
    
    section {
        width: 740px;
        height: 64px;
        font-size: 0.875em;
        margin: 5px 0 0 25px;
    }
}

